# Python has 4 built-in functions such as List, tuple, set, dictionary 
https://docs.python.org/3/tutorial/datastructures.html

In [172]:
empty_list = []
empty_tuple = ()
empty_dictionary = {}
empty_set = set()

# List

List Slicing

In [25]:
#Lst[ Initial : End : IndexJump ]
#list always traverser from left to right

In [36]:
# #positive indexing
# Lst = [50, 70, 30, 20, 90, 10, 50]

# #negative indexing
# #      -7  -6  -4  -5  -4  -3  -2 -1
# Lst = [50, 70, 30, 20, 90, 10, 50]
 
# # Display list
# print(Lst[::])

# # Display list
# print(Lst[-7::1])

List = ['Geeks', 4, 'geeks !']
# #A reversed list can be generated 
# #by using a negative integer as the IndexJump argument. 

# print(List[::-1]) #reverse list

# print(List[::-3]) #reverse list

print(List[:1:-2]) #reverese list

List1 = [10,20,30,40,50]
print(List1)

print(List1[1:3])
print(List1[1:5:2])
print(List1[-2:-5:-1])
print(List1[-5:-1])
print(List1[-1:-5:-2])


# text = "Arlington"
# print(text[slice(1,6,1)])
# print(text[::-2])

['geeks !']
[10, 20, 30, 40, 50]
[20, 30]
[20, 40]
[40, 30, 20]
[10, 20, 30, 40]
[50, 30]

In [7]:
list= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
print(list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [32]:
#single
print(list[3]) #D  
print(list[-3]) #G  
print(list[:]) #All      
print(list[3:]) #D E F G H I   Everything from  3
print(list[:3])  #A B C Everything till 3
print(list[-7:-3])  #G F E D C B A Everything form -3
print(list[:-3])  #I H G Everything till -3

D
G
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
['D', 'E', 'F', 'G', 'H', 'I']
['A', 'B', 'C']
['C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']

In [30]:
list= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
print(list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [31]:
#Double
print(list[-12:1])  
print(list[-12:3]) 
print(list[-12:-3])
print(list[1:-8]) 
print(list[1:-11])   #cant traverse backward
print(list[1:-6])  
print(list[2:6:2])

['A']
['A', 'B', 'C']
['A', 'B', 'C', 'D', 'E', 'F']
[]
[]
['B', 'C']
['C', 'E']

In [19]:
list= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
print(list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [27]:
#Double with step
print(list[-2:-7:-2])
print(list[2:7:3]) 
print(list[2:7:2]) 
print(list[1:8:2]) 
print(list[-7:8:2] )

['H', 'F', 'D']
['C', 'F']
['C', 'E', 'G']
['B', 'D', 'F', 'H']
['C', 'E', 'G']

In [44]:
tup_ = 4, 5.7, "Tuples", ["Python", "Tuples", "Java"] 
print(tup_[-1][-1:])

['Java']

In [18]:
#enumerate bult-in function
my_rommies = ['John', 'jimy']
list(enumerate(my_rommies, start=1))

[(1, 'John'), (2, 'jimy')]

In [19]:
combs = []
list1 = [1,2,3]
list2 = [3,1,4]
for x in list1:
    for y in list2:
        if x!=y:
            combs.append((x,y))
       
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [20]:
#not by creating a new list 
vector = [-2,-4, 0, 2,4]
[x**2 for x in vector]

[4, 16, 0, 4, 16]

In [21]:
#filter the list to exclude negative numbers
[x for x in vector if x>=0]

[0, 2, 4]

In [22]:
#apply a function to all elements
[abs(x) for x in vector]

[2, 4, 0, 2, 4]

In [23]:
#create a list for 2 tuples
[(x,x**2) for x in vector]

[(-2, 4), (-4, 16), (0, 0), (2, 4), (4, 16)]

In [24]:
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [25]:
#print numbers from 0 to 9 -HackerRank Challenge
def find_range(n):
    for i in range(1,n+1):
        print(i, end = ' ')
        
find_range(9)

1 2 3 4 5 6 7 8 9

In [26]:
vector = [[1,2,3], [4,5,6], [7,8,9]]
[j for element in vector for j in element]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [317]:
# list = [expression for element in iterables (if conditional)]

In [ ]:
lst6 = [10,15,20,25]

In [322]:
lst8 = []
for i in lst6:
    if i%2==0:
        if i>10:
            i *= i
            lst8.append(i)
print(lst8)

[400]

In [320]:
lst7 = [i*i for i in lst6 if i%2==0 if i>10]
lst7

[400]

Nested List Comprehensions

In [27]:
#3x4 matrix
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
print(matrix)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [28]:
main_transformed = []
for i in range(4):
    inner_transform = []
    for row in matrix:
        inner_transform.append(row[i])
    main_transformed.append(inner_transform)
print(main_transformed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

del in list

In [29]:
a = [-1,1,66.25, 333,333,1234,5]
del a[2:4]
a

[-1, 1, 333, 1234, 5]

Write a Python program to create a list of 5 numbers and remove the first and last elements from the list.

In [30]:
lst = [29,10,56,9,10]
print(lst)

[29, 10, 56, 9, 10]

In [31]:
del lst[0]
del lst[-1]

print(lst)

[10, 56, 9]

In [32]:
lst.pop(0)
lst.pop(-1)
print(lst)

[56]

Write a Python program to create a list of 5 numbers and sort the list in ascending and descending order.

In [33]:
lst = [78,89,67,90,100]
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] > lst[j]:
            temp = lst[i]
            lst[i] = lst[j]
            lst[j] = temp
print(lst)

[67, 78, 89, 90, 100]

In [34]:
lst = [78,89,67,90,100]
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] < lst[j]:
            temp = lst[i]
            lst[i] = lst[j]
            lst[j] = temp
print(lst)

[100, 90, 89, 78, 67]

Write a Python program to create a list of 10 numbers and replace all the even numbers in the list with the string "even".

In [35]:
lst = [78,89,67,90,100]
for i in range(len(lst)):
    if lst[i] % 2 ==0:
        lst[i] = 'even'
print(lst)

['even', 89, 67, 'even', 'even']

Write a Python program to create a list of 5 numbers and print the second largest number in the list.

In [36]:
lst = [78,89,67,90,100]
lst.sort()
print(lst[-2])

90

In [2]:
def largest_num(lst):
    max_num = 0
    for i in range(len(lst)):
        if lst[i] > max_num:
            max_num = lst[i]
    return max_num

In [4]:
largest_num([78,89,67,90,100])

100

Write a Python program that uses list comprehension to create a new list containing the lengths of all words that have more than
three characters in a given sentence. For example, given the input sentence "The quick brown fox jumps over the lazy dog", the
output should be [5, 5, 4, 5, 4].

In [40]:
sentence = "The quick brown fox jumps over the lazy dog"
new_list = []
for i in sentence.split():
    if len(i) > 3:
        new_list.append(len(i))
print(new_list)

[5, 5, 5, 4, 4]

Write a Python program to create a list of 10 strings and remove all the vowels from each string in the list.

In [41]:
strings_list = ["apple", "orange", "elephant", "umbrella", "giraffe", "banana", "penguin", "kiwi", "zebra", "watermelon"]
new_list = []
for i in strings_list:
    for j in i:
        if j not in ('aeiou'):
            new_list.append

In [42]:
#without List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []
for i in fruits:
    if "a" in i:
        new_list.append(i)
print(new_list)

['apple', 'banana', 'mango']

In [43]:
#with list comprehension
res = lambda x:x*x
res(5)

25

In [44]:
new_list = [i for i in fruits if "a" in i]
print(new_list)

['apple', 'banana', 'mango']

In [45]:
#newlist = [expression for item in iterable if condition == True]

In [46]:
#Only accept items that are not "apple":
not_apples = [i for i in fruits if i != 'apple']
print(not_apples)

['banana', 'cherry', 'kiwi', 'mango']

In [47]:
new_list = [x for x in range(10)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
new_list = [x for x in range(10) if x <5]
print(new_list)

[0, 1, 2, 3, 4]

In [49]:
#Return "orange" instead of "banana":
new_fruits = [x == 'orange' for x in fruits if x == 'banana']
print(new_fruits)

[False]

In [50]:
fruits.reverse()
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [51]:
square = list(map(lambda x: x**2, range(10)))
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
[(x,y) for x in [1,2,3] for y in [4,2,5] if x !=y]

[(1, 4), (1, 2), (1, 5), (2, 4), (2, 5), (3, 4), (3, 2), (3, 5)]

In [54]:
vec = [-4, -2, 0, 2, 4]
vec1 = [x**2 for x in vec]
print(vec1)

[16, 4, 0, 4, 16]

In [55]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[x.strip() for x in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [56]:
# create a list of 2-tuples like (number, square)
[(x,x**2) for x in [1,2,3]]

[(1, 1), (2, 4), (3, 9)]

In [57]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[row[i] for row in matrix in range(4)]
[[row[i] for row in matrix] for i in range(4)]

TypeError: 'bool' object is not iterable

In [59]:
#lists are mutable and tuples are immutable ; example of immutable string , covert that immutable string 
string = "abcda"
l = list(string)
print(l)
l[0]='k'
print(l)
string = ''.join(l)
print(string)

#split and join

string2 = "my name is RUtuja"
string3 = string2.split()
print("-".join(string3))

['a', 'b', 'c', 'd', 'a']
['k', 'b', 'c', 'd', 'a']
kbcda
my-name-is-RUtuja

In [48]:
x= [int(i) for i in input("Enter two numbers:").split()]
print(x+x)

Enter two numbers:10 20
[10, 20, 10, 20]

### write a Python program to find the maximum sum of a contiguous subsequence in a given list

In [34]:
def max_subsequence_sum(lst):
    if not lst:
        return 0

    max_sum = lst[0]
    current_sum = lst[0]

    for num in lst[1:]:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)

    return max_sum


# Example usage
numbers = [1, -2, 3, 4, -1, 2, 1, -5, 4]
max_sum = max_subsequence_sum(numbers)
print("Maximum sum of a contiguous subsequence:", max_sum)

Maximum sum of a contiguous subsequence: 9

# Tuple

A tuple is a collection which is <b>ordered</b> and <b>unchangeable</b>.

Tuples are written with round brackets.

Tuple is immutable.

Tuples can store values of different data types and duplicate values.

Create Tuple

In [323]:
#create tuple
tuple1 = (10,40,20,30)
print(tuple1)

(10, 40, 20, 30)

In [174]:
#Unpacking tuple
a,b,c = tuple1

In [176]:
print(a)
print(b)
print(c)

10
20
30

In [178]:
#use of + and *
tuple2 = tuple1 + tuple1
print(tuple2)

(10, 20, 30, 10, 20, 30)

In [37]:
my_tuple = (1, 7)
print(my_tuple * 2)

(1, 7, 1, 7)

In [179]:
#convert tuple
lst = ['Python', 'Java', 'PHP']
convert_to_tuple = tuple(lst)
print(convert_to_tuple)

('Python', 'Java', 'PHP')

In [180]:
convert_to_tuple1 = (*lst,)
print(convert_to_tuple1)

('Python', 'Java', 'PHP')

Access tuple

In [181]:
#indexing
t = 1234, 4534, 'hello'
t[0]

1234

In [38]:
t = ()
t = (10,20,30,40,(1,2,3), ['UTA', 'UTD'])
print(t)
print(t[4])

(10, 20, 30, 40, (1, 2, 3), ['UTA', 'UTD'])
(1, 2, 3)

In [41]:
#slicing
t[-2:-4:-1]

((1, 2, 3), 40)

In [199]:
#nested tuples
u=t, (1,2,3,4,5), 8
print(u)

((10, 20, 30, 40, (1, 2, 3), ['UTA', 'UTD']), (1, 2, 3, 4, 5), 8)

In [200]:
#tuples are immutable
u[2] = ('11')

TypeError: 'tuple' object does not support item assignment

In [63]:
programming_lang = ('Python', 'Java', 'C++', 'C#')
print(type(programming_lang))

<class 'tuple'>

In [64]:
#for each langauge in pragramming_lang
for language in programming_lang:
    print(language)

Python
Java
C++
C#

Functions in tuple

In [201]:
tuple(reversed(programming_lang))

('C#', 'C++', 'Java', 'Python')

In [204]:
tup = (10,5,20,9)
sort = sorted(tup)
print(tuple(sort))

(5, 9, 10, 20)

In [205]:
#count
tup.count(5)

1

In [206]:
tup.index(5)

1

In [207]:
len(tup)

4

Write a Python program that takes a tuple of numbers as input, and computes the sum and average of the numbers in the tuple.

In [65]:
num = (10,20,30)
sum_num = sum(num)
avg_num = sum_num/len(num)
print(avg_num)

20.0

Write a Python program that takes a tuple of names as input, and prints the names in reverse

In [66]:
names = ('Rutuja', 'Omkar')
rev = tuple(reversed(names))
print(rev)

('Omkar', 'Rutuja')

Write a Python program that takes two tuples of numbers as input and computes the dot product of the tuples. The dot
product of two tuples is calculated by multiplying the corresponding elements of each tuple together, and then 
summing the products. Print the dot product

In [210]:
t1 = (10,20,30)
t2 = (10,20,30)
prod = tuple(map(lambda x,y: x*y, t1, t2))
print(sum(prod))

1400

In [211]:
res= sum([i*k for i, k in zip(t1, t2)])
print(res)

1400

In [212]:
name = ('John', 'Max')
name_list1 = tuple(reversed(name))
print(name_list1)

('Max', 'John')

In [69]:
x = (1,2,3)
y = (1,2,3)
tuple_prod = sum(tuple(map(lambda x,y: x*y, x,y)))
print(tuple_prod)

14

Suppose you have a tuple containing the names of different countries. Write a Python program to use the enumerate function
to print the index and name of each country in the tuple,separated by a hyphen.

In [70]:
countries = ('United States', 'France', 'Japan', 'Australia', 'Brazil')
for i, country in enumerate(countries):
    print(i,"-" ,country)

0 - United States
1 - France
2 - Japan
3 - Australia
4 - Brazil

Write a Python function called "sort_out" that takes in a list of tuples,
where each tuple contains two integers, and returns a sorted list of
tuples in ascending order based on the second element of each
tuple.
• For example, if the input list is [(1, 3), (2, 1), (4, 5), (2, 2)], the function
should return the list [(2, 1), (2, 2), (1, 3), (4, 5)], since (2, 1) has the
smallest second element, followed by (2, 2), (1, 3), and (4, 5).

In [71]:
lst = [(1, 3), (2, 1), (4, 5), (2, 2)]
sorted(lst, key= lambda x:x[1])

[(2, 1), (2, 2), (1, 3), (4, 5)]

In [35]:
def sort_out(lst):
   res = sorted(lst, key=lambda x:(x[1], x[0]), reverse=True)
   return res

sort_out([(1, 3), (2, 1), (4, 5), (2, 2)])

[(4, 5), (1, 3), (2, 2), (2, 1)]

In [73]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[2])   # sort by age
[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
Write a lambda function that takes a list of tuples as input and returns a list of the second elements of the tuples sorted in descending order.

# Set


<img src= "https://files.realpython.com/media/t.8b7abb515ae8.png" width="200" height="500" align = "left">


 - Sets are unordered.
 - Set elements are unique. 
 - Duplicate elements are not allowed.
 - A set itself may be modified, but the elements contained in the set must be of an immutable type

In [266]:
st = set()
type(st)

set

In [278]:
st = set([10,20,30])
print(st)

{10, 20, 30}

In [279]:
#sets do not have duplicate elements
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [289]:
print('orange' in basket)
print('grapes' in basket)

True
False

Methods

In [280]:
#length
print(len(st))

3

In [281]:
#add elements
st.add(40)
st.add("UTA")
print(st)

{40, 10, 20, 'UTA', 30}

In [282]:
#update()
st.update(["MIT","UTD"])
print(st)

{'MIT', 40, 10, 'UTD', 20, 'UTA', 30}

In [283]:
st.remove(['MIT','UTD'])

TypeError: unhashable type: 'list'

In [284]:
st.remove('MIT')
print(st)

{40, 10, 'UTD', 20, 'UTA', 30}

In [285]:
st.discard('UTD')
print(st)

{40, 10, 20, 'UTA', 30}

In [286]:
st.pop()

40

In [287]:
print(st)

{10, 20, 'UTA', 30}

In [291]:
'''
letter in a or b or both (Union)
a|b

letters in both a and b (intersection)
a&b

letters in a but not in b (difference)
a-b

letter in a or b but not both (symmetric difference)
a^b
'''
#Union()
set1 = set()
set1 = {0,2,4,6,8,9,10}
set2 = {1,3,5,7,9}
set3 = set1.union(set2)
print(set3)
print(sorted(set3))

#intersection()
set4 = set1 & set2
print(set4)

#difference()
set5 = set2.difference(set1) #print all elements from set2 not matching with set1
print(set5)

#symmetric_difference()
set6 = set2.symmetric_difference(set1)
print(set6)
#drop matching elements; in this case 9 has been dropped becasue matching in both the set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{9}
{1, 3, 5, 7}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10}

In [294]:
#subset and superset

set7 = set([10,20])
set8 = set([10,20,30,40])
print(type(set7))


print(set7.issubset(set8))
print(set7.issuperset(set8))
print(set8.issuperset(set7))
print(set8.issubset(set7))

<class 'set'>
True
False
True
False

In [77]:
#set operations on unique letters from two words
a=set('abacdb')
b=set('1223')
print(a)
print(b)

{'a', 'c', 'd', 'b'}
{'1', '3', '2'}

In [78]:
a={x for x in 'ababcd' if x not in 'ab'}
print(a)

{'d', 'c'}

In [79]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Write a Python program to remove the duplicates from a list
using a set.

In [295]:
dup_list = [1,1,2,2,3,3]
print(set(dup_list))
print(list(set(dup_list)))

{1, 2, 3}
[1, 2, 3]

Write a Python program to find the union of multiple sets using a
loop.

In [299]:
set1 = {1, 2, 3}
set2 = {'apple', 'banana', 'orange'}
set3 = set()
set4 = {True, False}
set5 = {'red', 'green', 'blue'}
set6 = {2, 4, 6, 8}
set7 = {'a', 'b', 'c'}

print(set1.union(set2,set3, set4, set5, set6,set7))
set1.isdisjoint(set2)

lst = [set1, set2, set3, set4, set5, set6, set7]
new_set= set()
for i in lst:
    new_set.update(i)
print()
print("The new set is : ", (new_set))

{False, 1, 2, 3, 4, 'a', 6, 'green', 8, 'banana', 'blue', 'b', 'c', 'apple', 'orange', 'red'}

The new set is :  {False, 1, 2, 3, 4, 'a', 6, 'green', 8, 'banana', 'blue', 'b', 'c', 'apple', 'orange', 'red'}

### Write a Python program to count the number of unique characters in a given string using a set.

In [82]:
string_read = "I amm RUtujaa"
print(len(set(string_read)))

9

### Write a Python program to check if two given sets have any elements in common.

In [305]:
#can check using interesction
s1 = {10,20,30}
s2 = {10,40,30}

common_ele = s1 & s2
if common_ele != 0:
    print("the set contains common ele")
else:
    print("No common eles")

the set contains common ele

### Write a Python program that takes in a list of integers and returns a set containing only the numbers that appear more than once in the list.
• For example, if the input list is [1, 2, 3, 3, 4, 4, 5], the program
should return a set containing the numbers 3 and 4.

In [83]:
lst1 =  [1, 2, 3, 3, 4, 4, 5]
dup_set = set()
non_dup_Set = set()
for i in lst1:
    if i in non_dup_Set:
        dup_set.add(i)
    else:
        non_dup_Set.add(i)
print(dup_set)

{3, 4}

#### Write a Python program to find the common characters between two given strings using sets.

In [28]:
s1 = "Tom"
s2 = "Mom"
new_s1 = s1.lower()
new_s2 = s2.lower()
set1 = set(new_s1)
set2 = set(new_s2)

commen_characters = []
for i in set1:
    for j in set2:
        if i==j:
            commen_characters.append(i)
print(commen_characters)

{'m', 't', 'o'} {'m', 'o'}
['m', 'o']

In [30]:
#better approach

s1 = "Tom"
s2 = "Mom"
new_s1 = s1.lower()
new_s2 = s2.lower()
set1 = set(new_s1)
set2 = set(new_s2)

commen_characters = set1.intersection(set2)
print(commen_characters)

{'m', 'o'}

# Dictionary

In [108]:
#Create dictionary
dict1 = {}

In [109]:
dict1 = { 'id': 1, 'id2': 2}
print(dict1)

{'id': 1, 'id2': 2}

In [110]:
list1 = ['John', 'Smith', 'Ameer']
list2 = [30,40,50]

d1 = dict(zip(list1,list2))
print(d1)

TypeError: 'dict' object is not callable

In [111]:
d2 = {list1[i]: list2[i] for i in range(len(list1))}
print(d2)

{'John': 30, 'Smith': 40, 'Ameer': 50}

In [112]:
#Access the dictionary

In [113]:
print(d2['John'])

30

In [114]:
print(d2['Max']) #keyerror if giving different key

KeyError: 'Max'

In [115]:
for key, value in d2.items():
    print(key, value)

John 30
Smith 40
Ameer 50

In [116]:
d2_result = {key: value for key, value in d2.items()}
print(d2_result)

{'John': 30, 'Smith': 40, 'Ameer': 50}

In [117]:
#accessing only keys
d2_keys = {k for k in d2.keys()}
print(d2_keys)
#accesing only values
d2_values = {v for v in d2.values()}
print(d2_values)

{'Ameer', 'Smith', 'John'}
{40, 50, 30}

In [118]:
d2['Ameer'] = [10,30,20]
print(d2)

{'John': 30, 'Smith': 40, 'Ameer': [10, 30, 20]}

In [119]:
for i in d2['Ameer']:
    print(i)

10
30
20

In [120]:
#delete element
del d2['Ameer']

In [121]:
print(d2)

{'John': 30, 'Smith': 40}

In [124]:
#add element
d2['Ameer'] = 34
print(d2)

{'John': 30, 'Smith': 40, 'Ameer': 34}

In [125]:
#find lenght of dictionary
len(d2)

3

In [126]:
#copy dictionary 
d3 = d2.copy()
print(d3)

{'John': 30, 'Smith': 40, 'Ameer': 34}

In [128]:
d3.clear()
print(d3)

{}

In [131]:
#get method
d2.get('Ameer', 'Not Found')

34

In [132]:
d2.pop('Ameer', 'Not found')

34

In [133]:
print(d2)

{'John': 30, 'Smith': 40}

Dictionary comprehension

In [134]:
lst = [5,10,15,20,25]
lst2 = [i*i for i in lst]
lst2

[25, 100, 225, 400, 625]

In [142]:
dc = {}
for i in range(5,25, 5):
    dc[i] = i*i
print(dc)

{5: 25, 10: 100, 15: 225, 20: 400}

In [141]:
#comprehension
dc_ = {i:i*i for i in range(5,30,5)}
print(dc_)

{5: 25, 10: 100, 15: 225, 20: 400, 25: 625}

In [138]:
dictionary = {}
for i in range(1,11):
    if i>5:
        dictionary[i] = i**2
print(dictionary)

{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [139]:
dictionary3 = {}
for key, value in dc.items():
    if value > 100:
        dictionary3[key] = value
print(dictionary3)

{15: 225, 20: 400}

In [101]:
#{key:value} #update the value
dict1 ={1:'John', 2:'Jim'}
dict1[3]='JJ'
dict1

{1: 'John', 2: 'Jim', 3: 'JJ'}

In [143]:
#merge two dictionary
dc.update(dc_)
print(dc)

{5: 25, 10: 100, 15: 225, 20: 400, 25: 625}

In [144]:
sorted(dc.values())

[25, 100, 225, 400, 625]

In [50]:
lst = [3,6]
dc = {}
for i in lst:
 dc = i*i
print(dc)

36

In [54]:
dc1 = {'John':1,
 'Albert': 2,
 'Martin': 3}
dc2 = {i:k**3 for i,k in dc1.items() if k>=2}
print(dc2)

{'Albert': 8, 'Martin': 27}

In [62]:
dc1 = {'John':1,
 'Albert': 2,
 'Martin': 3}
for k in dc1.items():
    print(k)
dc2 = {k for k in dc1.values() if k>=2}
print(dc2)

('John', 1)
('Albert', 2)
('Martin', 3)
{2, 3}

In [67]:
set1 = set([5,6])
set1.update([10])
print(set1)

{10, 5, 6}

Nested Dictionary

In [154]:
grading_dictionary  = { 
    'student1': {'Python': 'A', 'Java': 'B', 'PHP': 'A' },
    'student2': {'Python':'A', 'Java': 'A', 'PHP': 'B'}
}
print(grading_dictionary)

{'student1': {'Python': 'A', 'Java': 'B', 'PHP': 'A'}, 'student2': {'Python': 'A', 'Java': 'A', 'PHP': 'B'}}

In [155]:
grading_dictionary['student1']['Python']
grading_dictionary['student3'] = {'Python':'A', 'Java': 'F', 'PHP': 'C'}
print(grading_dictionary)

{'student1': {'Python': 'A', 'Java': 'B', 'PHP': 'A'}, 'student2': {'Python': 'A', 'Java': 'A', 'PHP': 'B'}, 'student3': {'Python': 'A', 'Java': 'F', 'PHP': 'C'}}

In [156]:
for student, grade in grading_dictionary.items():
    print("________________")
    print(student)
    print("----------------")
    for k, v in grade.items():
        print(k, '\t:', v)

________________
student1
----------------
Python 	: A
Java 	: B
PHP 	: A
________________
student2
----------------
Python 	: A
Java 	: A
PHP 	: B
________________
student3
----------------
Python 	: A
Java 	: F
PHP 	: C

In [157]:
# dict( constructor)
my_dict = dict([(1, 'omkar')])
print(my_dict)

TypeError: 'dict' object is not callable

In [158]:
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

Create a dictionary comprehension with names as keys and length as values

In [159]:
lst = ['Rutuja', 'Omkar','IMk']

dict = {i:len(i) for i in lst}
dict

{'Rutuja': 6, 'Omkar': 5, 'IMk': 3}

What is the output of the Python code that creates a dictionary with key-value pairs representing the age of three people, and then creates a new dictionary using a dictionary comprehension that only includes key-value pairs from where the value is greater than or equal to 60?

In [169]:
dict1 = {'p1': 60, 'p2': 50, 'p3': 65}
{i: k for i,k in dict1.items() if k>60}
for i, k in dict1.items():
    if k>60:
        print(i,k)

p3 65

What is the output of the Python code that creates a dictionary with key-value pairs representing phone numbers of three people, and then creates a new dictionary using a dictionary comprehension that only includes key-value pairs from where the value starts with the digit "5"?

In [170]:
dict2 = {'p1': 6089, 'p2': 5089, 'p3': 65}
{i:k for i,k in dict2.items() if str(k)[0] == '5'}

{'p2': 5089}

In [171]:
dict2 = dict1 = {'p1': '60', 'p2': '50', 'p3': '65'}
{i:k for i, k in dict2.items() if k.startswith("5")}

{'p2': '50'}

Write a Python program to create a dictionary that stores the frequency of each character in a given string. The program should take a string as input and return a dictionary with each character as a key and its frequency as the value. The program should ignorewhitespace and be case-insensitive.

In [164]:
string = "My name is Rutuja"
string = string.replace(" ","").lower()
string
dict = {}
for char in string:
    if char in dict:
        dict[char] +=1
    else:
        dict[char] = 1
print(dict)

{'m': 2, 'y': 1, 'n': 1, 'a': 2, 'e': 1, 'i': 1, 's': 1, 'r': 1, 'u': 2, 't': 1, 'j': 1}

In [167]:
d = {i:string.count(i) for i in string}
print(d)

{'m': 2, 'y': 1, 'n': 1, 'a': 2, 'e': 1, 'i': 1, 's': 1, 'r': 1, 'u': 2, 't': 1, 'j': 1}

In [168]:
d = {i: string.count(i) for i in string if i.isalpha()}
print(d)

{'m': 2, 'y': 1, 'n': 1, 'a': 2, 'e': 1, 'i': 1, 's': 1, 'r': 1, 'u': 2, 't': 1, 'j': 1}

Write a program that creates a dictionary containing the U.S. states as keys and their capitals as values. • The program should then randomly quiz the user by displaying the name of a state and asking the user to enter that state’s capital. • The program should keep a count of the number of correct and incorrect responses. • Also display the correct answer after the user’s response

In [ ]:
import random
us_states_capitals = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta'}

stop = 'no'
correct = []
incorrect = []
duplicate = []
incorrect = 0
correct = 0

while stop:
    question = random.choice(us_states_capitals.keys())
    if question not in duplicate:
        print("Enter the capital of ",question)
        
        capital = input("Enter the capital of the state")
        if capital == us_states_capitals[question]:
            correct +=1
            correct.append(j)
        else:
            incorrect +=1
            incorrect.append(j)
    new_input = input("do you want to stop?")
    if new_input == 'yes':
        stop = 'yes'

print(incorrect, correct)

In [ ]:
#to get a sorted list
a = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(a):
    print(i, end= ' ')

In [ ]:
#to loop reverese
for i in reversed(range(1,10,2)):
    print(i, end = '')

In [ ]:
for i in sorted(set(a)):
    print(i, end =' ')

In [ ]:
raw_data1 = [6,5,4,4,2,1,10,1,2,48]
raw_data1.sort()
print(raw_data1)
print(raw_data1[1])

In [ ]:
#to iterate over the indices of a sequences, we can combine range() and len()
raw_data = [10,20,30,40]
for i in range(len(raw_data)):
    print(i, raw_data[i])