# lamda, map, filter, reduce, zip

# 1) lamda

In [2]:
def multiply(x,y):
    return x*y

Write a lambda function that takes two numbers as arguments and returns their product.

In [4]:
multiply = lambda x,y: x*y
multiply(3,5)

15

In [5]:
def uppercase_string(string):
  return string.upper()

uppercase_string('Arlington')

'ARLINGTON'

In [6]:
upper_string = lambda x:x.upper()
upper_string('rutuja')

'RUTUJA'

In [7]:
lst = [10,20,30]
def add_list(x):
  Sum = sum(x)
  return Sum

add_list(lst)

60

In [8]:
lst = lambda x: sum(x)
lst([10,20,30])

60

In [10]:
lst2 = lambda max_list: max(max_list)
lst2([10,20,30])

30

In [18]:
#other way to use lambda to find the max
lst =[10,20,30]
res =max(lst, key = lambda x:x)
res

30

Write a lambda function that takes a string and returns its length:

In [3]:
len_str = lambda x: len(x)
len_str('Rutuja')

6

In [19]:
new_sentence= 'I am in Arlington'
new_sentence.split()

['I', 'am', 'in', 'Arlington']

In [21]:
split_sent = lambda x: x.split()
split_sent('I am Rutuja')
split_sent1 = lambda x: len(x.split())
split_sent1('I am Rutuja')

3

Write a lambda function that takes a number as an argument and returns "positive" if the
number is greater than zero, and "non-positive" otherwise

In [6]:
num = lambda x: 'positive' if x>0 else 'negative'
num(-4)

'negative'

Write a lambda function that takes a number as an argument and returns "positive" if the
number is greater than zero, "zero" if the number is equal to zero, and "negative" if the number is less than zero

In [8]:
num1 = lambda x: 'positive' if x>0 else ['negative' if x <0 else 'zero']
num1(0)

['zero']

In [9]:
num2 = lambda x: 'positive' if x>0 else 'negative' if x<0 else 'Zero'
num2(9)

'positive'

Write a lambda function that takes a list of tuples as input and returns a list of the second elements of the tuples sorted in descending order.

In [6]:
list_tuples = lambda x: sorted(x, reverse=True)

tups = [(2,3,4), (1,7,8), (9,8,7)]
list_second_ele = [list_tuples(i)[1] for i in tups ]
print(list_second_ele)

[3, 7, 8]

# 2) Map
map(function, Iterable)

Map(). This is another inbuilt python library with the syntax map(function, iterable).<br>

This returns a modified list where every value in the original list has been changed based on a function. The example below cubes every number in the list.

In [1]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)
###Results
[1, 8, 27, 64, 125, 216, 343, 512, 729]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
def mapFunction(list1, list2):
    list3 = list1+list2
    return list3
     

my_list1 = [2,3,4,4]
my_list2 = [4,8,12]
res = map(mapFunction, my_list1,my_list2)
print(list(res))

[6, 11, 16]

In [23]:
lst = [10,20,30]
lst1 = []
for i in lst:
    res = i*i
    lst1.append(res)
print(lst1)

[100, 400, 900]

In [31]:
#instead of creating a new list, and using append we can use map to create a lit and siplaying based on the mapped list

In [30]:
lst = [10,20,30]
lst1 = list(map(lambda x: x*x, lst))
print(lst1)

[100, 400, 900]

In [33]:
lst1 = [10,20,30]
lst2 = [100,200,300]
res = list(map(lambda x,y:x*y, lst1,lst2))
print(res)

[1000, 4000, 9000]

In [13]:
#Write a map function with lambda function to double each element of a list and returns as list
list1 = list(map(lambda x: x*2, range(10)))
list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
lst1 = [10,20]
new_lst1 = list(map(lambda x: x*2, lst1))
new_lst1

[20, 40]

Write a map and lambda function to add
corresponding elements of two lists and return
the sum as lists

In [17]:
list1 = [1,2]
list2 = [3,4]
new_list = list(map(lambda x,y:x+y, list1, list2))
new_list

[4, 6]

# 3) Reduce
reduce(function, Iterable)

In [35]:
#Sum of all elements in a list
nums= [10,20,30]
sum = 0
for i in nums:
    sum +=i
print(sum)

60

In [34]:
from functools import reduce
nums= [10,20,30]
result = reduce(lambda x,y:x+y,lst)
print(result)

60

In [36]:
from functools import reduce
num = 6
res = reduce(lambda x,y: x*y , range(1,num+1)) 
print(res)

720

Write a program to calculate the factorials of a number using reduce function

In [21]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num*factorial(num-1)
factorial(6)

720

In [30]:
from functools import reduce
factorial = reduce(lambda x,y: x*y, range(1,6))
factorial

120

In [19]:
from functools import reduce
lst1 = [1,-2,3]
lst2 = [4,5,-6]
res = reduce(lambda x,y: x-y, lst2)
print(res)

5

# 4)filter

In [37]:
string = 'ArlingtonA'
fil = list(filter(lambda x:"A" in x, string))
print(fil)

['A', 'A']

In [38]:
lst = [10,20,120]
fil = list(filter(lambda x: x>100,lst))
print(fil)

[120]

In [39]:
str = ['Apple', 'Mango', 'my']
fil = list(filter(lambda x : "M" in x or "m" in x, str))
print(fil)

['Mango', 'my']

Write a filter function which will return the element from a list of string that contains a letter "M"

In [40]:
lsr = ['mango', 'orange']
new_list = list(filter(lambda x: 'M' in x or 'm' in x, lsr))
new_list

['mango']

In [41]:
[ x for x in lsr if 'M' in x or 'm' in x]

['mango']

# 5) Zip

In [42]:
from itertools import zip_longest
lst = ['apple', 'Mango', 'banana']
lst2 = [20,30]

res = list(zip_longest(lst,lst2))
print(res)

[('apple', 20), ('Mango', 30), ('banana', None)]

In [43]:
import pandas as pd

lst = ['apple', 'Mango', 'banana']
lst2 = [20,30]

df = pd.DataFrame(zip(lst,lst2), columns = ['Name', 'Price'])
print(df)

    Name  Price
0  apple     20
1  Mango     30

Write a zip function to combine name list and age list and return tuple of new list

In [27]:
name = ['Rutuja', 'Omr']
age = [25, 26]

#for i, j in zip(name, age):
    #print(i,j)
    
new_name_age = list(zip(name,age))
new_name_age

[('Rutuja', 25), ('Omr', 26)]